@media only screen and (min-width: 801px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .img-responsive {
    width: 100%;
  }

  #position2 {
    display: none;
  }

  .container-fluid {
    overflow: hidden;
    position: relative;
    min-width: 100%;
  }

  #position {
    margin-top: 5px;
  }

  #headshot {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 100%;
    text-align: left;
    padding-right: 10px;
    color: white;
    margin-left: 150px;
    padding-top: 15px;
  }

  #headpic {
    position: absolute;
    height: 50%;
    left: 25%;
    float: right;
    bottom: 0;
    right: 0;
  }

  #tech {
    font-weight: bold;
  }

  .lazy {
    position: relative;
  }

  /*h2 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}*/
}

@media only screen and (max-width: 800px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }

  .img-responsive {
    width: 100%;
  }

  #info {
    display: none;
  }

  .container-fluid {
    overflow: hidden;
    position: relative;
    min-width: 100%;
  }

  #position {
    display: none;
  }

  #tech {
    font-weight: bold;
  }

  .lazy {
    position: relative;
  }

  /*h2 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}*/

  h2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
}
